.alert {
    position: fixed;
    top: 20px;
    z-index: 99000;
    right: 20px;
    min-height: 100px;
    width: 25%;
    color: #000;
    padding: 20px;
    border: ;
    font-size: 1em;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid rgba(0,0,0, .2);
    box-shadow: 0 4px 30px rgba(0,0,0,.2);
    border-radius: 10px;
}
.alert.top-left {
    left: 20px!important;
    right: auto!important;
}
.alert__heading {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.alert__message {
    font-size: 1em;
}

.alert__success {
    background-color: #fff;
    color: #0f732a;
    /*border:2px solid #0f732a;*/
}

.alert__success .alert__closer {
    background-color: #014212;
    color: #fff;
}

.alert__danger {
    background-color: #fff;
    color: #8a1111;
}

.alert__danger .alert__closer {
    background-color: #8a1111;
    color: #fff;
}

.alert__closer {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}