.form-group.has-icon-left {
	display: flex;
	border:1px solid #ccc;
	align-items: center;
	transition:border-color .3s;
	background-color: #fff;
	transition:.3s;
}
.form-group.has-icon-left .input-group-prepend {
	display: block;
	width: 30px;
	text-align:center;
	color: #ccc;
	transition:color .3s;
}
.form-group.has-icon-left.focused {
	box-shadow: 0 0 0 .25em rgba(168, 118, 204, .5);
}

.form-group.has-icon-left.focused .input-group-prepend {
	color: var(--color-primary);
}

.form-group.has-icon-left .form-control {
	border:none;
	outline: none;
	-webkit-appearance:none;
	appearance:none;
	background-color: transparent;
}

.form-group:not(:last-child) {
	margin-bottom: 15px;
}
.form-group .control-label {
	display: block;
	margin-bottom: 5px;
	font-size: .9em;
	font-weight: 600;
	text-transform: uppercase;
	color: #888;
}
.control-label.control-label-sm {
	font-size: .7em;
}

.custom-select {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px!important;
    border: 1px solid #ced4da!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control-static {
	font-weight: bold;
}

.input-group {
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.input-group:not(:last-child) {
	margin-bottom: 10px;
}

.input-group .input-group-prepend {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.input-group .form-control {
	flex:1;
}

.form-control {
	outline: none;
	border: none;
	border: 1px solid transparent;
	padding: 0 10px;
	height: 40px;
	border: 1px solid #ccc;
	width: 100%;
	font-family: var(--font-family);
	transition:border-color .3s ease;
	transition:all .3s ease;
}
.form-control.form-control-sm {
	height: 35px;
	padding: 0 8px;
}

textarea.form-control {
	height: 80px;
	padding: 10px;
}
textarea.form-control.form-control-sm {
	height: 60px;
	padding: 8px;
}

.form-control:focus {
	box-shadow: 0 0 0 .25em rgba(168, 118, 204, .5);
}
.form-control.no-shadow {
	box-shadow: none!important;
}
.input-group .input-group-append {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}


.form-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	user-select: none;
	padding: 0 5px;
}

.form-checkbox-square input[type="checkbox"] {
	position: relative;
	width: 20px;
	height: 20px;
	-ms-appearance:none;
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance:none;
	border:1px solid var(--color-primary);
}

.form-checkbox-square input[type="checkbox"]::after {
	content:'';
	top: 40%;
	left: 50%;
	transform:translate(-50%, -40%) rotate(45deg) scale(0);
	display: inline-block;
	position: absolute;
	width: 5px;
	height: 10px;
	border:1px solid var(--color-primary);
	border-top: none;
	border-left: none;
	transition: all .3s ease
}
.form-checkbox-square input[type="checkbox"]:checked {
	background-color: var(--color-primary);
}
.form-checkbox-square input[type="checkbox"]:checked:after {
	transform:translate(-50%, -40%) rotate(45deg) scale(1);
	border-color: #fff;
}



.form-checkbox input[type="checkbox"] {
	position: relative;
	width: 28px;
	height: 14px;
	background-color: #ccc;
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance:none;
	border-radius: 14px;
	outline: none;
	margin-right: 10px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	cursor: pointer;
}


.form-check-label {
	cursor: pointer;
}

.form-checkbox input[type="checkbox"]::after {
	content:'';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 14px;
	box-shadow: 1px 2px 5px 1px rgba(0,0,0,.2);
	transform:scale(1.2);
	transition:all ease .3s;
}

.form-checkbox input[type="checkbox"]:checked::after {
	left: 14px;
	background-color: #3b0760;
}

.btn {
	background-color: #f5f5f5;
	height: 40px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border:none;
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
	font-family: var(--font-family);
}

.btn.btn-primary {
	background-color: var(--color-primary);
	color: #fff;
}
.btn.btn-block {
	width: 100%;
}