@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@font-face {
	src: url(../fonts/Oswald-Stencil.ttf);
	font-family: 'Oswald-Stencil';
}

:root {
	--home-page-font:'Oswald-Stencil';
	--font-secondary:Poppins;
}

.section.services {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	color: #000;
	background-color: #fff;
	padding: 0 20px 40px 0;
	clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
}

.services-header-desc {
	width: 600px;
	margin: 0 auto;
}

.section.services .list-of-services {
	display: flex;
	/*border:1px solid var(--color-primary);*/
	width: 100%;
}
.section.services .list-of-services .service-list {
	flex:1;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px 0;
}
.section.services .list-of-services .service-list:not(:last-child) {
	/*border-right:1px solid var(--color-primary);*/
}

.section.services .list-of-services .service-list .service--icon {
	font-size: 1.5em!important;
	display: inline-block;
	padding: 20px;
	border-radius: 50%;
	background-color: var(--color-primary);
	color: #fff;
}

.section.services .list-of-services .service-list .service--desc {
	max-width: 300px;
}

.section.services .service--name {
	margin: 10px 0;
	font-weight: bold;
}

.section.services .service--desc {
	font-size: .9em;
}

.section.services .list-of-services .service-list .service--learn-more {
	display: inline-block;
	font-weight: bold;
	margin: 20px 0;
	background-color: var(--color-primary);
	color: #fff;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 25px;
	transition:all .3s;
}
.section.services .list-of-services .service-list .service--learn-more:hover {
	transform:translateY(-2px);
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.section.services .list-of-services .service-list .service--learn-more:active {
	transform:translateY(0);
}


.slider-contact {
	position: fixed;
	z-index: 30000;
	top: 0;
	left: 0;
	min-width: 300px;
	height: 100vh;
	bottom: 0;
	/*overflow:hidden;*/
	background-color: var(--color-primary);
	color: #fff;
	transform:translateX(-300px);
	transition: transform cubic-bezier(.17,.67,.7,1) .3s;
}

.slider-contact .slider-label {
	position: absolute;
	top: -100px;
	right: -100px;
	width: 200px;
	height: 200px;
	transform:rotate(45deg);
	background-color: rgba(255, 255, 255, .1);
	pointer-events: none;
	opacity: 0;
}


.slider-contact.open {
	transform:translateX(0);
}
.slider-contact.open .slider-label {
	pointer-events: all;
	opacity: 1;
}

.slider-contact .slider-toggler {
	position: absolute;
	width: 40px;
	height: 45px;
	line-height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 30%;
	right: -40px;
	background-color: var(--color-primary);
	color: #fff;
	cursor: pointer;
	border:none;
	outline: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.slider-contact .slider-toggler span {
	display: block;
	width: 20px;
	height: 1px;
	margin: 0 auto;
	background-color: #fff;
	position: absolute;
}
.slider-contact .slider-toggler span.v {
	transform:rotate(90deg);
	transition: transform .9s;
}
.slider-contact.open .slider-toggler span.v {
	transform:rotate(0deg);
}


.slider__contact--content {
	position: absolute;
	top: 14%;
	left: 50%;
	transform:translateX(-50%);
	width: 85%;
	margin: 0 auto;
}

.slider__contact--content h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.slider-contact .contact-list {
	list-style-type: none;
	font-size: .9em;
	line-height: 1.8;
	margin-top: 1rem;
	margin-top: 0;
}
.slider-contact .contact-list li{
	margin-bottom: 15px;
}

.slider-contact .contact-list li span {
	display: block;
	font-weight: bold;
	font-size: .8em;
}

.slider-contact .contact-list li span.contact-list__label {
	text-transform: uppercase;
	/* font-size: 18px; */
	font-family: var(--font-family);
}

.slider-contact .contact-list li span.contact-list__value.with-social-links {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	font-size: .8em;
}

.slider-contact .contact-list li span.contact-list__value.with-social-links a {
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #DDA1E6;
	text-align: center;
	color: #fff;
	transition:.3s;
	font-size: 1.2em;
	overflow: hidden;
}


.slider-contact .contact-list li span.contact-list__value.with-social-links a img {
	width: 100%;
}
.slider-contact .contact-list li span.contact-list__value.with-social-links a:hover {
	transform:scale(1.2);
}


/*
.slider-contact .contact-list li span.contact-list__value.with-social-links a.twitter {
	background-color: #1DA1F2;
}

.slider-contact .contact-list li span.contact-list__value.with-social-links a.facebook {
	background-color: #4267B2;
}

.slider-contact .contact-list li span.contact-list__value.with-social-links a.instagram {
	background-color: #D52E7D;
}

.slider-contact .contact-list li span.contact-list__value.with-social-links a.linkedin {
	background-color: #007BB6;
}


.slider-contact .contact-list li span.contact-list__value.with-social-links a.whatsapp {
	background-color: #3FE25C;
}

.slider-contact .contact-list li span.contact-list__value.with-social-links a.facebook-messenger {
	background-color: #0083FF;
}*/



.section.testimonials {
	display: flex;
	flex-direction: column;
	/*border:1px solid var(--color-primary);*/
	clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
	background-color: #fff;
	padding: 100px 0;

}
.section.testimonials .testimonial {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px 0;
}
.section.testimonials .testimonial img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.section.testimonials .testimonial .testimonial-text {
	width: 800px;
	margin: 20px auto;
}
.section.testimonials .testimonial .testimonial-text p {
	line-height: 1.8;
}
.section.testimonials .testimonial .testimonial-author span {
	display: block;
}
.section.testimonials .testimonial .testimonial-author .testimonial-author__name {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
}
.section.testimonials .testimonial .testimonial-author .testimonial-author__profession {
	font-size: .8em;
	font-weight: bold;
}
.section.testimonials .testimonial blockquote {
	position: relative;
}
.section.testimonials .testimonial blockquote::before,
.section.testimonials .testimonial blockquote::after {
	position: absolute;
	font-family: Tahoma;
	font-size: 40px;
}
.section.testimonials .testimonial blockquote::before {
	top: 0;
	left: -20px;
	/*content:'\201C';*/
}

.section.testimonials .testimonial blockquote::after {
	top: 0;
	right: -20px;
	/*content:'\201D';*/
}


.brands-slider .brand-slider { height: 300px; }

.header-slider .owl-stage-outer {
	position: relative;
}
.header-slider .owl-dots {
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	bottom: 10px;
}
.header-slider .owl-dots .owl-dot span {
	border:none!important;
}

.order-option-link {
	display: block;
	width: 90%;
	margin: 0 auto;
	height: 80px;
	line-height: 80px;
	color: #fff;
	/*background-color: var(--color-primary);*/
	background:linear-gradient(to bottom, #580494, var(--color-primary));
	/*background-image: linear-gradient(180deg, var(--color-primary), #222);*/
	font-size: 2em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
	border-radius: 20px;

	display: flex;
	align-items: center;
	font-weight: bold;
	overflow: hidden;

	transform:translateY(0);

	box-shadow: 0 20px 20px rgba(0,0,0,.3);
	transition:all ease .3s;
	position: relative;
}
.order-option-link:hover {
	background-color: #ccc;
}
.order-option-link::before {
	content:'';
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(to bottom, #fff, #ddd);*/
	background-color: var(--color-primary);
	border-radius: 20px;
	transform:scaleX(0);
	transition: all cubic-bezier(.17,.47,.8,1.23) .3s;
	transform-origin: left;
}
.order-option-link:hover::before {
	transform:scaleX(1);
}

.order-option-link:hover span {
	/*color: var(--color-primary);*/
	color: #fff;
	z-index: 2;
}




.order-option-link .fa {
	color: #fff;
	transition:color .3s ease;
}

.order-option-link:hover .fa {
	color: #fff;
}


.order-option-link:active {
	transform:translateY(5px);
	
	box-shadow: none;
}


.order-option-link:not(:last-child) {
	margin-bottom: 30px;
}
.order-option-link span {
	flex:1;
}
.order-option-link.order-option-link-sm {
	width: 50%;
	height: 50px;
	line-height: 50px;
	font-size: 1.2em;
}

.order-option-link .fa {
	margin-left: auto;
}

.section-title {
	font-family: var(--home-page-font);
}
.section-desc {
	font-size: 1.2em;
}
.home-sidebar {
	display: flex;
	flex-direction: column;
	/*background-color: #f5f5f5;*/
	background-color: #FCFAFF;
}

.marquee {
	font-size: 1em;
	border-radius: 0;
	display: block;
	font-family: var(--font-secondary);
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	background-color: #fff;
	color: #000;
	font-weight: 100;	
	overflow: hidden;
	padding: 0 20px;
	margin-left: -40px;
	margin-right: -40px;
}
.marquee p {
	margin: 20px 0;
	font-weight: bold;
	text-transform: uppercase;
	animation:marquee 20s linear infinite;
}
.marquee:hover p {
	animation-play-state: paused
}

@keyframes marquee {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}

.pass-perso-order {
	position:relative;
}
.pass-perso-order .image-description {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.pass-perso-order .image-description .image-description-content {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 68%;
	color: #fff;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.pass-perso-order .image-description .image-description-content div {
	font-size: 2em;
	text-transform: uppercase;
	font-family: var(--home-page-font);
	padding: 0 10px;
	user-select: none;
}

.pass-perso-order .image-description .image-description-content a {
	display: block;
	margin-top: 40px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #b30bbf;
	color: #fff;
	padding: 0 20px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
}
.pass-perso-order .image-description .image-description-content a:hover {
	transform:translateY(-2px);
}

.pass-perso-order .image-description .image-description-content a:active {
	transform:translateY(0);
}


.pass-catalogue-order {
	display: flex;
	position: relative;
}

.pass-catalogue-order .image-description {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 20px;
	margin-left: 15px;
}

.pass-catalogue-order .image-description .image-description-content {
	position: absolute;
	width: 45%;
	top: 0;
	bottom: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.pass-catalogue-order .image-description .image-description-content div {
	font-size: 1.5em;
	user-select: none;
	padding: 0 10px;
	font-weight: bold;
	color: #b30bbf;
	font-family: var(--home-page-font);
}
.pass-catalogue-order .image-description .image-description-content a {
	display: block;
	margin-top: 40px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #b30bbf;
	color: #fff;
	padding: 0 20px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
}
.pass-catalogue-order .image-description .image-description-content a:hover {
	transform:translateY(-2px);
}

.pass-catalogue-order .image-description .image-description-content a:active {
	transform:translateY(0);
}

.pass-cdm-order {
	position: relative;
}

.pass-cdm-order .text {
	position: absolute;
	top: -10px;
	left: 10px;
	bottom: 10px;
	width: 25%;
	text-align: center;
	color: #fff;
	font-size: 1.4em;
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	line-height: 1.5;
	font-family: var(--home-page-font);
}
.pass-cdm-order a {
	display: block;
	margin-top: 40px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #b30bbf;
	color: #fff;
	padding: 0 20px;
	position: absolute;
	top: 40%;
	right: 10px;
	transform:translateY(-40%);
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
}

.whatsapp-facebook-messenger {
	display: flex;
	align-items: center;
	justify-content: center;
}
.whatsapp-facebook-messenger div {
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 50%;
	/*overflow: hidden;*/
	position: relative;
}
.whatsapp-facebook-messenger div span {
	display: inline-block;
	margin-top: 5px;
}

.whatsapp-facebook-messenger div:first-child {
	margin-right:30px;
}
.whatsapp-facebook-messenger div img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition:transform .3s ease;
}
.whatsapp-facebook-messenger div img:hover {
	transform:scale(1.2);
}



@media screen and (max-width: 575.98px) {
	.pass-perso-order .image-description .image-description-content div {
		font-size: .9em;
		line-height: 1.5;
	}
	.pass-perso-order .image-description .image-description-content a {
		font-size: .7em;
	}
	.pass-cdm-order .text {
		font-size: .8em!important;
	}
	.pass-cdm-order a {
		font-size: .7em;
	}
	.pass-catalogue-order .image-description .image-description-content div {
		font-size: .9em;
		line-height: 1.5;
	}

	.pass-catalogue-order .image-description .image-description-content a {
		font-size: .7em;
	}
	.order-option-link {
		font-size: 1em;
		width: 100%;
	}
	.order-option-link-sm {
		font-size: .8em!important;
	}
	#arrows-slider {
		display: none!important;
	}
	.marquee {
		font-size: .8em;
	}
}


.transporteur-de-produits-extraordinaires {
	position: relative;
}

.transporteur-de-produits-extraordinaires .trans-button {
	position: absolute;
	bottom: 50px;
	left: 30px;
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	background-color: #fff;
	color: var(--color-primary);
	/*background-image:linear-gradient(-180deg, #49186B, #3B0760 90%);*/
}

.p-indicator {
	border:1px solid #ccc;
	width: 55%;
	margin:0 auto;
	padding: 10px;
	text-align: center;
	position: relative;
	background-color: #f5f5f5;
	font-weight: bold;
}

.p-indicator::before {
    content: '';
    display: inline-block;  
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: -20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
}

.p-indicator::after {
    content: '';
    display: inline-block;  
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: -19px;
    width: 0;
    height: 0;
    border: 10px dashed transparent;
    border-top-color: #f5f5f5;
}

.order-btn-link {
	padding: 25px 40px;
	margin-bottom: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 1.7em;
	text-transform: uppercase;
	position: relative;
	clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
}


.order-btn-link::after {
	content:'';
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	right: 0;
	z-index: -1;
	bottom: 0;
	background-color: rgba(0,0,0,.2);
	transition: all .3s ease;
}
.order-btn-link:active::after {
	top: 0;
	bottom: auto;
}

.order-btn-link.order-cdm {
	background-color: #905ca7;
}

.order-btn-link.order-perso {
	background-color: var(--color-primary);
}

.order-btn-link.order-catalogue {
	background-color: #b37ecc;
}

.section {
	background-color: #e9e3eb;
	margin-left: -40px;
	margin-right: -40px;
	padding:40px;
}
.section.no-background {
	background-color: #fff;
}
.section-title {
	text-align: center;
	margin-bottom: 40px;
	font-size: 1.8em;
}
.section .section-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90%;

	margin: 0 auto;
}
.section-content .section-icon {
	width: 100px;
	margin-top: 30px;
}
.section .section-content .section-card {
	background-color: #fff;
	width: 25%;
	min-height: 420px;
	text-align: center;
	display: flex;
	border-radius: 15px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	position: relative;
	padding: 0 35px;
	/*margin-right: 60px;*/
	/*box-shadow: 0 1px 8px rgba(0,0,0,.4);*/
	transition:all .3s ease;
}

.section .section-content .section-card:hover {
	transform:scale(1.02);
}

.section .section-content .section-card p {
	line-height: 1.5;
	font-weight: bold;
}
.section-card .section-divider {
	display: block;
	width: 80px;
	height: 10px;
	background-color: var(--color-primary);
	margin: 40px 0;
}
.section-action {
	position: absolute;
	bottom: 20px;
	width: 80%;
	display: block;
	background-color: var(--color-primary);
	color: #fff;
	text-decoration: none;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	border-radius: 10px;
	font-weight: bold;
	border:1px solid transparent;
	transition: all .3s ease;
	font-size: .8em;
	letter-spacing: 1px;
}

.section-action:hover {
	background-color: #fff;
	border:1px solid var(--color-primary);
	color: var(--color-primary);
}

@media (max-width: 800px) {
	.section .section-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section .section-content .section-card {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
	}
	.section .section-content .section-card:last-child {
		margin-right: none!important;
	}
}

.team-grids {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 1fr;
	width: 600px;
	margin: 0 auto;
}


@media (max-width: 650px) {
	.team-grids {
		grid-template-columns: 1fr;
		max-width: 90%;
		width: 100%;
	}
}
.team-grid {
	background-color: var(--team-bg, var(--color-primary));
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.team-grid img {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	border:2px solid #fff;
	border-radius: 50%;
}
.team-info {
	text-align: center;
	margin-bottom: 20px;
}
.team-info .user-name {
	font-size: 1em;
	margin-bottom: 6px;
	text-transform: uppercase;
}
.team-info .user-profession {
	text-transform: uppercase;
	font-size: .7em;
}
.why-sma-button {
	width: 55%;
	height: 50px;
	display: inline-block;
	margin:0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 10px;
	font-size: 1.1em;
	text-transform: uppercase;
}


.why-sma-button-2 {
	background-color: #905ca7;
}

.why-sma-button-1 {
	background-color: var(--color-primary);
}

.why-sma-button-3 {
	background-color: #b37ecc;
}