:root {
    --card-height: 450px;
}

.card__flip__container {
    display: flex;
    flex-direction: column;
}

.card__row {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    font-size: .8em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.card__row .card__flip {
    width: 100%;
    height: var(--card-height);
    perspective: 150em;
    -moz-perspective: 150em;
    position: relative;
    margin-right: 20px;
    /*perspective: 1500px;*/
}

.card__row .card__flip .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--card-height);
    backface-visibility: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-out .5s;
}

.card__row .card__flip .card__side--back {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(-180deg);
}

.card__row .card__flip .card__side--back.france {
    background-image: url(../images/grunge-france-flag.jpg);
}

.card__row .card__flip .card__side--back.usa {
    background-image: url(../images/usa-bg.jpg);
}

.card__row .card__flip .card__side--back.china {
    background-image: url(../images/china-bg.jpg);
}

.card__row .card__flip:hover .card__side--front {
    transform: rotateY(180deg);
}

.card__row .card__flip:hover .card__side--back {
    transform: rotateY(0deg);
}

.card__row .card__flip .card__side--back {
    background-color: #3b0760;
    color: #fff;
    padding: 5px;
}

.card__row .card__flip .card__side--back::after {
    content: '';
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
}

.card__row .card__flip .card__side--front {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__row .card__flip .card__side--front.france {
    background-image: url(../images/grunge-france-flag.jpg);
}

.card__row .card__flip .card__side--front.usa {
    background-image: url(../images/usa-bg.jpg);
}

.card__row .card__flip .card__side--front.china {
    background-image: url(../images/china-bg.jpg);
}

.card__row .card__flip .card__side--front::after {
    content: '';
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
}

.card__row .card__flip .card__side--front h5 {
    font-size: 1.5em;
    position: absolute;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__row .card__flip .card__side--front h5 span {
    display: block;
}

.card__row .card__flip .card__side--front h5 span:first-child {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.card__list__group {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;
    position: absolute;
    z-index: 5000;
}

.card__list__group .card__list__group__item {
    display: flex;
    flex-direction: column;
}

.card__list__group .card__list__group__item span {
    display: inline-block;
}

.card__list__group .card__list__group__item span:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    /*text-align: center;*/
}

.card__list__group .card__list__group__item span:nth-child(2) {
    font-size: .9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__list__group .card__list__group__item:not(:last-child) {
    margin-bottom: 10px;
}

.card__list__group .card__title {
    align-self: flex-start;
}

.card__list__group__item button {
    background-color: #000;
    color: #ccc;
    text-align: center;
    border: 1px solid transparent;
    padding: 8px;
    outline: none;
    font-size: .9em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: all ease .3s;
}

.card__list__group__item button:hover {
    color: #fff;
}

.card__list__group__item button:focus {
    /*border:1px solid #fff;*/
}

.card__list__group__item button span {
    display: block;
}

.paste-label {
    position: absolute;
    top: -15px;
    font-size: 1.2em;
    font-weight: bold;
    left: 8px;
    font-size: .8em;
    opacity: 0;
    transition: all ease-in .3s;
    color: green;
}

.card__main__title {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.disappear {
    animation-name: disappear;
    animation-duration: 1.2s;
}

.share-whatsapp {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #34BD49;
    color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    z-index: 10000;
    font-size: 1.8em;
    cursor: pointer;
    transition: .5s
}

.share-whatsapp i {
    pointer-events: none;
}

.share-whatsapp:hover {
    transform: scale(1.1);
}

@keyframes disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}