@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');
:root {
	--color-primary:#9b59b6;
	--color-primary-dark:#8e44ad;
	--color-primary-light:#ffc4cd;
	--font-family: 'Quattrocento Sans', 'Segoe UI', sans-serif;
}

.color-primary {
	color: var(--color-primary);
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	min-height: 100vh;
	font-family: var(--font-family);
}

select, input, button {
	font-family: var(--font-family)!important;
}


.page-wrapper {
	min-height: 100vh;
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.page-preview {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	background-color: var(--color-primary-dark);
}

.page-form {
	width: 50%;
	background-color: var(--color-primary);
	position: relative;
}

.page-preview .panel {
	/*border:1px solid #ccc;*/
	border-radius: 5px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
	flex-flow: row wrap;
	background-color: #fff;
	transition:.3s;
	background-image: linear-gradient(#f5f5f5 0%, #fff 25%, #fff 50%, #fff 75%, #f5f5f5 100%);
}
.page-preview .panel:not(:last-child) {
	margin-bottom: 10px;
}
.page-preview .panel:hover {
	cursor: pointer;
	box-shadow: 0 4px 4px 4px rgba(0,0,0,.2);
}

.page-preview .panel * {
	user-select: none;
}

.page-form {
	position: relative;
}

.page-form .cancel_perso_order {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 1.7em;
	background-color: transparent;
	border:none;
	outline: none;
	appearance:none;
	color: #fff;
}

.page-form .cancel_perso_order:hover {
	cursor: pointer;
}

.page-form .form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 90%;
	height: 450px;
	max-height: 450px;
	background-color: #fff;
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*overflow: hidden;*/
}

.form-country-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.form-country-button {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 100%;
	user-select: none;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	/*transition:all .3s ease;*/
	border:1px solid transparent;
}

.form-country-button:hover,
.form-country-button.active {
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.form-country-button.active {
	border-color: #ccc;
	transform:scale(1.2);
}

.progress-container {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #f5f5f5;
	padding: 0 20px;
}
.progress-container .progress-bar {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 2px;
	width: 100%;
	background-color: #999;
	position: relative;
}
.progress-container .progress-bar .progress-dot {
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: .9em;
	background-color: #999;

	display: flex;
	align-items: center;
	justify-content: center;
	color:#fff;
	user-select: none;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.progress-container .progress-bar.is-1 .progress-dot:first-child {
	background-color: var(--color-primary);
}

.progress-container .progress-bar.is-2 .progress-dot:first-child,
.progress-container .progress-bar.is-2 .progress-dot:nth-child(2) {
	background-color: var(--color-primary);
}

.progress-container .progress-bar.is-3 .progress-dot:first-child,
.progress-container .progress-bar.is-3 .progress-dot:nth-child(2),
.progress-container .progress-bar.is-3 .progress-dot:nth-child(3) {
	background-color: var(--color-primary);
}

.progress-container .progress-bar.is-4 .progress-dot:first-child,
.progress-container .progress-bar.is-4 .progress-dot:nth-child(2),
.progress-container .progress-bar.is-4 .progress-dot:nth-child(3), 
.progress-container .progress-bar.is-4 .progress-dot:nth-child(4) {
	background-color: var(--color-primary);
}

.progress-container .progress-bar.is-5 .progress-dot:first-child,
.progress-container .progress-bar.is-5 .progress-dot:nth-child(2),
.progress-container .progress-bar.is-5 .progress-dot:nth-child(3), 
.progress-container .progress-bar.is-5 .progress-dot:nth-child(4),
.progress-container .progress-bar.is-5 .progress-dot:nth-child(5) {
	background-color: var(--color-primary);
}

.progress-container .progress-bar::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0%;
	background-color: var(--color-primary);
}

.progress-container .progress-bar.is-1::before {
	width: 20%;
}

.progress-container .progress-bar.is-2::before {
	width: 40%;
}

.progress-container .progress-bar.is-3::before {
	width: 60%;
}

.progress-container .progress-bar.is-4::before {
	width: 80%;
}

.progress-container .progress-bar.is-5::before {
	width: 100%;
}

.website-grids {
	width: 100%;
	/*min-height: 100%;*/

	display: grid;
	/*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 5px;

	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 50px;
	overflow-y: auto;
}

.website-grids::-webkit-scrollbar {
    width: 8px;
}
.website-grids::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 0 5px;
}
.website-grids::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-dark);
    border-radius: 20px;
}

.website-grids .website-grid {
	border:1px solid #ccc;
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;
	transform:scale(.9);
	border-radius: 5px;
	overflow: hidden;
}
.website-grids .website-grid.add-website {
	background-color: var(--color-primary-dark);
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.website-grids .website-grid.add-website span {
	font-size: .9em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.website-grids .website-grid:hover {
	border-color: var(--color-primary-dark);
	cursor: pointer;
}

.website-grids .website-grid.active {
	border-color: var(--color-primary-dark);
	transform:scale(.94);
}

.website-grids .website-grid img {
	width: 80%;
	height: 100%;
	user-select: none;
	object-position: center center;
	object-fit: contain;
	user-drag:none;
}

.form-container .form-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #f6f6f6;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
}

.form-container .form-footer button {
	appearance:none;
	border:none;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
	user-select: none;
	color: var(--color-primary);
}
.form-container .form-footer button:last-child {
	margin-left: auto;
}

.form-container .form-footer button:hover {
	cursor: pointer;
	color: var(--color-primary-dark);
}

.form-container .form-footer button.next {
	background-color: var(--color-primary);
	color: #fff;
	padding: 5px 10px;
	border-radius: 20px;
}
.form-container .form-footer button.next:hover {
	background-color: var(--color-primary-dark);
}

.form-title {
	padding: 10px 0;
	text-align: center;
}

.reload-btn {
	position: fixed;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	font-size: 1.8em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: transparent;
	appearance:none;
	border:none;
	outline: none;
	cursor: pointer;
}

.other-sites-btn {
	height: 30px;
	padding: 0 10px;
	background-color: var(--color-primary);
	color: #fff;
	border:none;
	outline: none;
	border-radius: 10px;
	font-weight: bold;
}
.other-sites-btn:hover {
	cursor: pointer;
}

.other-sites-btn:active {
	background-color: var(--color-primary-dark);
}

.form-control {
	padding: 5px;
	outline: none;
	border:1px solid #dedede;
}
.form-control:focus {
	box-shadow: 0 0 0 0.1rem rgba(59, 7, 96, 0.45);
}





/*Animation transition group*/

.list-enter-active, .list-leave-active {
	transform:translateY(0);
	opacity: 1;
	transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-100%);
}

.fade-enter-active, .fade-leave-active {
	transition: all .3s;
}

.fade-enter, .fade-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  /*transform:translateX(10px);*/
}


.modal-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.9);

	display: flex;
	align-items:center;
	justify-content: center;
}

.modal-wrapper .website-explanation {
	width: 90%;
	margin: 0 auto;
	transform:translateY(-40px);
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-wrapper .website-explanation span {
	font-size: .8em;
	font-weight: bold;
}
.modal-wrapper .website-explanation img {
	width: 100%;
}

.modal-wrapper .modal-closer {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8em;
	color: #f1f1f1;
	border:none;
	outline: none;
	background-color: transparent;
	transition:.3s;
}
.modal-wrapper .modal-closer:hover {
	cursor: pointer;
	color: #fff;
}

.modal-wrapper .modal {
	width: 600px;
	max-width: 600px;
	background-color: #fff;
	overflow: hidden;
	border-radius: 8px;
	overflow: hidden;
}

.modal-wrapper .modal .modal-header {
	width: 100%;
	height: 40px;
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 10px;
	background-color: var(--color-primary);
	color: #fff;
}

.btn-modal-closer {
	position: absolute;
	right: 10px;
	background:none;
	border:none;
	outline: none;
	color: #fff;
	cursor: pointer;
	transition:color .3s ease;
}
.btn-modal-closer:hover {
	color: #000;
}

.modal-wrapper .modal .modal-body {
	min-height: 150px;
	display: flex;
}
.modal-wrapper .modal .modal-body form {
	min-height: 150px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.perso-button {
	background-color: transparent;
	color: var(--color-primary);
	border:1px solid var(--color-primary);
	outline: none;
	padding: 15px 30px;
	font-size: .9em;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 30px;
	width: 60%;
	cursor: pointer;
	transition:all .3s ease;
}

.perso-button:hover {
	background-color: var(--color-primary-dark);
	color: #fff;
}
.perso-button:focus {
	box-shadow: 0 0 0 .25em var(--color-primary-light);
}

.modal-wrapper .modal .modal-body form .field {
	position: relative;
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	border:1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
}
.modal-wrapper .modal .modal-body form .field input {
	height: 35px;
	padding: 10px;
	flex:1;
	outline: none;
	border:none;
	transition:.3s;
}

.modal-wrapper .modal .modal-body form .field input:hover {
	background-color: #f5f5f5;
}

.modal-wrapper .modal .modal-body form .field input:focus {
	background-color: #fff;
}

.modal-wrapper .modal .modal-body form .field button {
	width: 80px;
	min-width: 80px;
	background-color: var(--color-primary);
	color: #fff;
	border-top: 1px solid var(--color-primary);
	border-bottom: 1px solid var(--color-primary);
	border-right: 1px solid var(--color-primary);
	border-left: none;
	outline: none;
}
.modal-wrapper .modal .modal-body form .field button:hover {
	cursor: pointer;
}
.modal-wrapper .modal .modal-body form .field button:active {
	background-color: var(--color-primary-dark);
}

.modal-wrapper .modal .modal-footer {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	background-color: #f5f5f5;
	color: #000;
}


.modal-wrapper .modal .modal-footer button {
	height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	background-color: var(--color-primary);
	color: #fff;
	border:none;
	outline: none;
	transition:.3s;
}

.modal-wrapper .modal .modal-footer button:hover {
	cursor: pointer;
}

.modal-wrapper .modal .modal-footer button:active {
	background-color: var(--color-primary-dark);
}

.modal-wrapper .modal .modal-footer button:last-child {
	margin-left: auto;
}

.image-title {
	font-size: .8em;
}



@media (max-width: 575.98px) {
	.page-wrapper {
		min-height: 100vh;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.page-preview {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 20px;
		min-height: 100vh;
		background-color: var(--color-primary-dark);
	}

	.page-form {
		width: 100%;
		background-color: var(--color-primary);
		position: relative;
		min-height: 100vh;
	}

	.form-country-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 50%;
	}
	.form-country-button {
		margin: 0;
	}
}

.cart-situation-button {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 20px;
	top: 20px;
	border:none;
	outline: none;
	background: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.cart-situation-button span.fa {
	font-size: 2.5em;
	color: #fff;
}
.cart-situation-button span:nth-child(2) {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	font-weight: bold;
	top: -10px;
	right: -6px;
}

.cart-situation-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	bottom: 0;
	background-color: #fff;
	padding: 10px;

	display: flex;
	flex-direction: column;
	overflow-y: auto;
	transform:translateX(-300px);
	transition: all ease .3s;
}

.cart-situation-content.active {
	transform:translateX(0px);
}

.cart-situation-content-close {
	background:none;
	color: var(--color-primary-dark);
	outline: none;
	border:none;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
	transition: all .3s ease;
}

.cart-situation-content-close:hover {
	transform:scale(1.3);
}

.cart-situation-content::-webkit-scrollbar {
    width: 8px;
}
.cart-situation-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 0 5px;
}
.cart-situation-content::-webkit-scrollbar-thumb {
    background-color: #888;
}
.cart-situation-content::-webkit-scrollbar-thumb:hover {
	background-color: #000;
}

.cart-situation-title {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	color: var(--color-primary-dark);
}
.cart-situation-content-row-close {
	position: absolute;
	top: 5px;
	right: 5px;
	outline: none;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	background-color: var(--color-primary);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: .7em;
}
.cart-situation-content-row-close:hover {
	background-color: var(--color-primary-dark);
}
.cart-situation-content-row {
	position: relative;
	border:1px solid var(--color-primary);
	border-radius: 5px;
	padding: 5px;
}
.cart-situation-content-row:not(:last-child) {
	margin-bottom: 15px;
}
.cart-situation-content-row > div {
	margin-bottom: 15px;
}
.cart-situation-content-row > div span:first-child {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color-primary);
	font-size: .9em;
}
.cart-situation-content-row > div span:nth-child(2) {
	font-weight: bold;
	font-size: .8em;
}

.accept-cgu-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.accept-cgu-checkbox input {
	-webkit-appearance:none;
	width: 30px;
	height: 30px;
	border: 2px solid var(--color-primary-dark);
	margin-right: 10px;
	outline: none;
	cursor: pointer;
	transition:.3s;
}

.accept-cgu-checkbox input:checked {
	width: 15px;
	border-top: none;	
	border-left: none;	
	transform:rotate(30deg) translateY(-10px);
	margin-right: 20px;
}

.accept-cgu-checkbox label {
	font-weight: bold;
	cursor: pointer;
	font-size: .9em;
	color: var(--color-primary-dark);
}

