@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');
:root {
	--font-family:'Quattrocento Sans', 'Segoe UI', sans-serif;
	--color-primary:#440656;
	--body-background-color:#fff;
	--purple-color:rgb(68, 6, 86);
	--purple-shadow-color:rgba(128, 0, 128, .3);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	font-family: var(--font-family);
	font-size: 16px;
	width: 100%;
	min-height: 100vh;
}

.register__form {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
}
/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}


/* Handle */
body::-webkit-scrollbar-thumb {
    background: #642ba5;
}

.register__form .register__form--left {
	flex:0 0 60%;
	background-color: var(--color-primary);
}
.register__form .register__form--left .account__svg {
	width: 200px;
	height: 200px;
}


.register__form .register__form--right {
	/*flex:0 0 40%;*/
	width: calc(100% - 200px);
	padding: 20px;
}

.register__form .form-group {
	margin-bottom: 15px;
	position: relative;
}


.form-group::after, 
.form-group::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;

	height: 2px;
	width: 100%;
	background-color: #222;
	transform:scaleX(0);
	transform-origin: left;
	transition:transform .3s;
}

.form-group.focused::before {
	transform:scaleX(1);
}

.register__form .form-control {
	height: 35px;
	width: 100%;
	font-size: 1em;
	border:none;
	position: relative;
	-webkit-appearance:none;
	font-size: .8em;
	outline: none;
	font-family: var(--font-family);

	margin-bottom: 10px;
}
select[multiple].form-control {
	height: 100px!important;	
}

textarea.form-control {
	height: 60px!important;
	resize: none!important;
}

.register__form .control-label {
	display: block;
	font-size: .7em;
	font-weight: bold;
	text-transform: uppercase;
}

.register__form .control-label.required::after {
	content:'\00a0*';
	display: inline-block;
	color: red;
	font-weight: bold;
}

select.form-control {
	text-transform: uppercase;
}

.btn {
	height: 40px;
	width: 100%;
	background-color: transparent;
	border:none;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition:.3s;
	font-size: .9em;
	position: relative;
}

.btn-primary {
	color: #fff;
	background-color: var(--color-primary);
	position: relative;
}

.btn-primary::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	background-color: rgba(255, 255, 255, .1);
}
.btn-primary:hover::before {
	left: auto;
	right: 0;
}

.btn-link:link,
.btn-link:visited {
	color: inherit;
	text-decoration: none;
}

.register__style {
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	clip-path: polygon(0 0, 100% 0,  100% 0, 0 100%);
	background-color: rgba(255, 255, 255, .1);
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.register__style .register__style--logo {
	display: block;
	position: absolute;
	width: 50px;
	top: 30%;
	left: 30%;
	transform:translate(-50%, -50%);
	user-select: none;
}

.invalid-feedback {
	font-size: .8em;
	color: red;
}
.form-control {
	border-bottom: 1px solid #ccc!important;
}
.form-control.is-invalid,
.form-control.is-invalid:focus {
	border-color: red;
}

.control-label.has-error {
	color: red;
}
.is-invalid + .invalid-feedback {
	display: inline-block;
}

.feather-small {
	width: 15px;
  	height: 15px;
  	margin-right: 5px;
}

.btn-underlined::after {
	content:'';
	position: absolute;
	/*height: 2px;*/
	bottom: 0;
	left: 0;
	top: 0;
	z-index: -1;
	right: 0;
	width: 100%;
	background-color: var(--color-primary);
	transform:scaleX(0);
	transform-origin: left;
	transition:.3s;
}
.btn-underlined:hover {
	color: #fff;
}
.btn-underlined:hover::after {
	transform:scaleX(1);
	color: #fff;
}

.hide {
	display: none;
}
.row:not(:last-child) {
	margin-bottom: 10px;
}

.select2-selection {
	border-left: none!important;
	border-right: none!important;
	border-top: none!important;
	border-radius: none!important;
	padding: 0!important;
	border-bottom: 1px solid #ccc!important;
}

.form-check {
	display: flex;
	align-items: center;
}

.form-check .form-check-input {
	margin-right: 10px;
	-webkit-appearance:none;
	width: 25px;
	height: 25px;
	outline: none;
	border:1px solid #ccc;
	position: relative;
}

.form-check .form-check-input::before {
	content:'';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%) scale(0);
	background-color: var(--color-primary);
	transition:all .3s ease;
}
.form-check .form-check-input:checked::before {
	transform:translate(-50%, -50%) scale(1);
} 
.form-check .form-check-input:hover,
.form-check .form-check-input:checked {
	border:1px solid var(--color-primary);
	cursor: pointer;
}
.form-check .form-check-label {
	font-weight: bold;
	cursor: pointer;
}