.owl-carousel .item  {
	display: flex;
	width: 100%!important;
	margin: 0!important;
	padding: 0!important;
	height: 33vw !important;
}

.arrows {
	position: absolute;
	/*z-index: 20;*/
	top: 50%;
	transform:translateY((-50%));
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 10px;
}

.arrows button {
	display: flex;
	align-items: center;
	justify-content: center;
	width:50px;
	height:50px;
	font-size: 1.9em;
	border:none;
	text-align: center;
	outline: none;
	cursor: pointer;
	transition:background-color .3s;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	z-index: 100;
}

.arrows button:hover {
	background-color: rgba(0,0,0,1);
}