.titled-lists {
	display: flex;
	flex-direction: column;
}

.titled-lists .titled-list {
	margin-bottom: 15px;
	list-style: none;
	display: flex;
	flex-direction: column;
}
.titled-lists .titled-list .label {
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}
.titled-lists .titled-list .value {
	font-size: .9em;
	line-height: 1.4;
}