.Group-logo {
	width: 30vw;
	max-width: calc(100% - 120px);
	height: auto;
}

.Group-logo img {
	width: 100%;
}

@media (max-width: 1200px) {
.top-nav {
    font-size: 1.8rem;
}

label {
    font-size: 1.2rem;
}



}

@media (max-width: 768px) {
	.descktop-flex {
		display: block;
	}

	.left-image-part {
		width: 100%;
	}

	.left-image-part .bg-img {
		min-height: 500px;
	}

	.Group-logo {
	    width: 50vw;
	}

	.container-fluid {
		width: 90%;
	}
}